/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body height to 100% */
body {
    height: 100%;
}

/* Set box-sizing to border-box for all elements */
html {
    box-sizing: border-box;
}

.header {
    background-color: #24276A;
    color: white;
    height: 101px;
    z-index: 1000;
    position: 60;
    padding: 1.3rem 2rem;
    font-family: "PP Neue Montreal TT", sans-serif;   
}

.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5.5%;
}

.logo {
    height: 60px;
}


.header nav ul li {
    padding: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.header nav ul li.hamburger {
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 16px;
    font-weight: 100;
}

.button{
    background-color: #E7F7FB;
    border-radius: 22.7947px;
    padding: 1.11em 2.25em;
    color: #0AB3D2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "PP Neue Montreal TT", sans-serif;   
    line-height: 29.9931px;
    cursor: pointer;
}

.button:hover{
    background-color: #0AB3D2;
    color: #ffffff;
}

.sidebar {

    width: 100%;
    height: 100vh;
    background: #24276A;
    text-align: left;
    font-size: 20px;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s;
}

.sidebar.open {
    transform: rotate3d(0, 0, 1, 0deg);
}
.sidebar ul{
    list-style: none;
}

.sidebar li:hover,
.sidebar li.active {
    background: #0000003f;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block
}

.toggler-navbar {
    display: none;
}

.hamburger-menu {
    width: 25px;
    position: relative;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

span {
    display: block;
    height: 2px;
    width: 100%;
    background: #B7B8CE;
    opacity: 1;
    left: 0;
    transition: all .3s;
    position: relative;
}



/* Mobile styles */
@media (max-width: 600px) {
    .nav-items { 
        display: none; 
    }
    .toggler-navbar {
        display: block;
        cursor: pointer;
    }
}


.footer-side-bar{
    font-family: Arial, sans-serif;   
    font-size: 10px;
    color: rgb(233, 233, 240);
}

.sidebar-elements{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap:50px;
    
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) { 
    .nav-items { 
        display: none; 
    }
    .toggler-navbar {
        display: block;
        cursor: pointer;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    
    .nav-items { 
        display: flex; 
    }
    .toggler-navbar {
        display: none;
    }
}


span + span {
    margin-top: 7px;
  }
  
  .active span:nth-child(1) {
    animation: ease .7s top forwards;
    background: #ffffff;
    height: 1px;
    width: 22px;
  }
  
  .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
    background: #ffffff;
    height: 1px;
    width: 22px;
  }
  
  .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 7px;
        transform: rotate(0);
    }
    100% {
        top: 7px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 7px;
        transform: rotate(45deg);
    }
    50% {
        top: 7px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 10px;
        transform: rotate(-45deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 10px;
        transform: rotate(-55deg);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}